<h3>About us Component</h3>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us/reviews">Reviews</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLink="/about-us/info">Info</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
